body {
  background-color: rgb(35, 35, 35);
}

h1 {
  font-family: "Unlock", cursive;
  color: rgb(220, 20, 10);
  font-size: 40px;
  line-height: 6px;
}

p {
  font-family: avenir;
  color: white;
}
